
/* ESTILO GERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor0:#5CE1E6;
    --cor1:#51C2C6;
    --cor2:#FCFF7E;
    --cor3:#FDAFFF;
    --cor4:#505050;
    --cor5:#FFD595;

    --fonte-padrao: 'Poppins',sans-serif;
    --fonte-destaque:'Concert One', sans-serif;
}

body{
    background-color: white;
    font-family: var(--fonte-padrao);
    height: 100vh;
}

.interface{
    max-width: 1380px;
    margin: 0 auto;
}

.btn-start a{
    text-decoration: none;
    font-family: var(--fonte-destaque);
    font-size: 35px;
    font-weight: 400;
    color: white;
    background-color: var(--cor0);
    box-shadow: 0px 8px var(--cor1);
    padding: 10px 40px;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    transition: .2s;
}

.btn-start a:hover{
    transform: scale(1.05);
}


/* ESTILO DO CABEÇALHO */

header{
    background-color: white;
    width: 100%;
    padding: 10px 4%;
    box-shadow: 0px 3px 10px #0000001c;
    position: fixed;
    z-index: 10;
}

header nav ul li a span{
    margin-right: 5px;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5F99A6;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #7eb7c5;
    transform: scale(1.05) ;
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.material-symbols-outlined{
    align-items: center;
}

main{
    min-width: 100px;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
}

/* ESTILO DO TOPO */

section.topo{
    padding: 130px 170px 4%;
}

section.topo div a#startbutton{
    margin-left: 800px;
    margin-top: -100px;
}

/* ESTILO DO MEIO */

section.middle{
    padding: 100px 170px 4%;
    margin-top: 80px;
    background-color: var(--cor0);
}

section.middle div.flex{
    display: flex;
    gap: 100px;
    justify-content: center;

}

section.middle h2{
    font-family: "Concert One";
    color: white;
    font-size: 50px;
    font-weight: 400;
}

section.middle p{
    color: var(--cor4);
    padding-top: 40px;
}

section.middle p span{
    font-weight: bold;
}

section img{
    margin-top: -10px;
}

.brain-power{
    display: inline-block;
    margin-top: -65px;
    padding-left: 80px;
    transform: rotate(-15deg);
    z-index: 10;
}

/* ESTILO DOS FLASHCARDS */

section.cards{
    padding: 100px 170px 4%;
    padding-bottom: 250px;
    margin-top: -60px;
}

section.cards div.flex{
    display: flex;
    gap: 5px;
    justify-content: center;

}

section.cards h2{
    font-family: "Concert One";
    color: var(--cor1);
    font-size: 50px;
    font-weight: 400;
    text-align: right;
}

section.cards p{
    color: var(--cor4);
    padding-top: 40px;
    padding-left: 90px;
    text-align: right;
}

section.cards span#purple{
    font-family: "Concert One";
    color: var(--cor3);
    font-size: 50px;
    font-weight: 400;
    text-align: right;
}

section.cards span#bold{
    font-weight: bold;
}

section.cards div.cardstxt{
    margin-top: -100px;
}

section.cards img.idea{
    margin-left: 300px;
    margin-top: 10px;
    transform: scaleX(-1);
}

section.cards img.card{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO MEET THE TEACHER */

/* section.teacher div.waves{
    margin-top: -250px;

} */

section.teacher{
    padding: 130px 170px 4%;
    margin-top: -200px;
    background-color: var(--cor0);
    border-top: 20px solid var(--cor5);
}

section.teacher div.flex{
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
}

section.teacher p{
    color: #505050;
}

section.teacher h3{
    font-weight: bold;
    font-size: 25px;
    color: white;
}
/* .banner .wavy{
    position: absolute;
    margin-top: -400px;
    width: 100%;
    left: 0;
    transform: scaleX(-1);
    z-index: -10;
}

.banner1 .wavy{
    position: absolute;
    margin-top: -380px;
    width: 100%;
    left: 0;
    transform: scaleX(-1);
    z-index: -10;
}
 */

/* ESTILO FOOTER */

footer{
    margin-top: -50;
    margin-bottom: -20px;
    padding: 20px 170px 4%;
    background-color: #FCFF7E;
    border-top: 20px solid var(--cor5);
}

footer div.flex{
    display: flex;
    padding-top: 40px;
    align-items: center;
    padding-left: 200px;
}

footer div a#startbutton{
    margin-left: 600px;
    margin-top: -100px;
}

